
/* 基本のスタイル */
h1 {
    font-size: 32px;
    margin: 0px;
    padding: 4px;
    color: #222288;
}

hr {
    margin-top: 8px;
    margin-bottom: 8px;
}

/* ページ固有のスタイル */
/* ログインページ */
th.login_field {
    width: 150px;
    text-align: left;
    padding: 8px;
    color: #ffffff;
    background-color: #aaaaff;
}

td.login_field {
    padding: 8px;
}

td.login_button {
    text-align: center;
    padding: 8px;
}

/* リストページ */
table.toolbar {
    margin-top: 16px;
    margin-bottom: 32px;
}

table#todolist_table {
    width: 90%;
    border-style: none;
    font-size: 100%;
}

table#todolist_table thead tr th {
    width: 150px;
    text-align: left;
    padding: 8px;
    color: #ffffff;
    text-align: center;
    background-color: #5555aa;
    font-size: 100%;
    border-color: black;
}

table#todolist_table tbody#todolist tr td {
    font-size: 100%;
    padding: 8px;
    border-style: solid;
    border-width: 0.5px;
    border-color: black;
}

/* 追加・編集・削除ページ */
th.add_field {
    width: 150px;
    text-align: left;
    padding: 8px;
    color: #ffffff;
    background-color: #aaaaff;
}

td.add_field {
    padding: 8px;
}

td.add_button {
    text-align: center;
    padding: 8px;
}

table#todolist_table tbody tr td.tbl_sty1 {background-color: #cccccc;}
table#todolist_table tbody tr td.tbl_sty2 {background-color: #ffbbbb;}
table#todolist_table tbody tr td.tbl_sty3 {background-color: #ffbbbb; color: #ff0000;}
table#todolist_table tbody tr td.tbl_sty4 {background-color: #bbbbff; color: #ff0000;}
table#todolist_table tbody tr td.tbl_sty5 {background-color: #bbbbff;}

